fastapi-venv/
__pycache__/
.env
Thumbs.db
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.log
coverage/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.coverage
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.log
*.sql
*.sqlite
*.db
*.sqlite3
*.log
*.csv